@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Cinzel&family=Handlee&family=Maitree:wght@300&family=Merienda:wght@700&family=Moulpali&family=Playfair+Display+SC&family=Single+Day&family=Yrsa&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: #fff;
    min-height: 100vh;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.btn {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 2;
    display: flex;
    width: 5vw;
    height: 5vw;
}

.btn span {
    width: 20px;
    height: 2px;
    background: rgb(0, 0, 0);
    display: flex;
    position: absolute;
    transition: .3s;
    transition: ease-in-out;
}

.btn span:nth-child(1) {
    top: 20%
}
.btn span:nth-child(2) {
    top: 80%;
}

.btn.is-active span {
    background: rgb(0, 0, 68);
}

.btn.is-active span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}

.btn.btn.is-active span:nth-child(2) {
    top: 50%;
    transform: rotate(45deg);
}

.menu {
    background: #7f7f7f;
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 100px;
    z-index: 1;
    visibility: hidden;
    justify-content: center;
    color: rgb(0, 0, 68);
}

.menu.is-active {
    opacity: .9;
    visibility: visible;
    display: flex;
    justify-content: center;
}

.menu_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
}

.menu_item:not(:last-child) {
    margin-bottom: 30px;
}



  
.menu_link {
    position: relative;
    display: inline-flex;
    font-weight: 600;
    font-size: 48px;
    color: rgb(0, 0, 68);
    text-decoration: none;
    text-transform: uppercase;
    
}

.menu_link:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 5px;
    display: inline-flex;
    background: rgb(0, 0, 68, 0.7);
    transition: .3s;
}

.menu_link:hover:after {
    width: 100%;
}



/* /////////////////////////////////////////// Section 1 heading ///////////////////////////////////// */


.background-for-the-whole-page {
    background-image: url('./images/portfolio-background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.background-for-the-whole-page-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.157);
}

.container-section-1 {
    margin: 0;
    width: 100%;
    
    height: 100vh;
}

.main {
    margin: 0;
    height: 100%;
    width: 100%;
    word-break: normal;
}

.txt-type {
    border-right: 1px solid #777;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2%;
}

.name-text {
    margin: 0;
    padding-left: 9%;
    color: #ffffff;
    font-size: 4vh;
    word-break: break-word;
    font-weight: 100;
}

.swe-text {
    margin: 0;
    padding-left: 9%;
    color: rgb(212, 212, 212);
    word-break: normal;
    font-weight: 100;
    font-size: 2vh;
}
/*/////////////////////////////////////// Section 2 ABOUT /////////////////////////////// */
.container-section-2 {
    margin: 0;
    width: 100%;
    
}

.about {
    display: grid;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 59, 0.711);
    padding: 3vw;
    
}



.about-text-container {
    align-self: center;
    color: white;
}
.about-text-container h1 {
    margin: 0 auto;
    font-size: 5vw;
    color: white;
}



.about-text-container p {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
    font-size: medium;
    font-weight: 100;
    color: rgb(255, 255, 255);
}

/*/////////////////////////////////////// Section 3 projects /////////////////////////////// */

.container-section-3 {
    margin: 0;
    width: 100%;
    padding-bottom: 0;
    
}

.projects {
    margin: 0 auto;
    padding: 3vw;
    padding-bottom: 0;
    width: 80%;
    background: rgba(255, 255, 255, 0.406);
}

.thumbnail-container {
    margin: auto;
    position: relative;
    width: 23vw;
    height: 23vw;
    background: rgba(255, 255, 255, 0);
    
}

.thumbnail-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.1s ease;
}

.thumbnail-front {
    position: absolute;
    width: 100%;
    height: 80%;
    backface-visibility: hidden;
    font-family: "Lato", Sans-serif;
}

.thumbnail-back {
    position: absolute;
    width: 100%;
    height: 80%;
    backface-visibility: hidden;
    background: rgb(0, 0, 0);
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    display: grid;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    padding: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail-card:hover {
    transform: rotateY(0deg);
    visibility: hidden;
}


.thumbnailImages {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow:  wrap;
}

.projects-text {
    font-size: 4vw;
    text-align: center;
    color: rgba(0, 0, 68, 0.801);
    word-break: break-all;
    padding-bottom: 4vw;
}

.projects img {
    margin: 10%;
    height: 70%;
    width: 80%;

}



/*/////////////////////////////////////// Section 4 languages /////////////////////////////// */

.container-section-4 {
    margin: 0 auto;
    width: 80%;
    padding: 4vw;
    background-color: rgba(0, 0, 0, 0.132);
}

.languages-text {
    font-size: 4vw;
    color: white;
    text-align: center;
    padding-bottom: 4vw;
}

.languages {
    margin: 0 auto;
    background: rgba(45, 45, 45, 0);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow:  wrap;
}

.languages-img {
    height: 8vw;
    width: 8vw;
    box-sizing: border-box;
    margin: 20px;
}

/* ////////////////////////////////////// Section 5 Github //////////////////////////////////// */
.container-section-5 {
    width: 80%;
    display: grid;
    justify-content: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.648);
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 4vw;
}


.github-div {
    transition: 1s;
    border-radius: 30px;
    margin: 0;
}

.container-section-5 h1 {
    font-size: 4vw;
    color: rgba(0, 0, 68, 0.801);
    text-align: center;
    padding-bottom: 4vw;
}
.github-div img {
    height: 30vw;
    width: 30vw;
    margin: 0;
}

.gitHub {
    background: black
    
}

a:link {
    text-decoration: none;
    color: rgb(67, 201, 254);
}
a:visited {
    color: rgb(151, 151, 151);
}

.github-div:hover {
    transform: scale(1.2);
    background: black;
    padding: 25px;
}



/* ////////////////////////////////////////// Section 6 Footer //////////////////////////////////////// */

.footer {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    background: rgba(0, 0, 0, 0.74);
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    display: grid;
    padding: 4vw;
    padding-bottom: 0;
}



.contact-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
}

.contact-container h4 {
    word-break: break-all;
}
.footer img {
    margin: auto;
}

.material-icons {
    color: white;
    margin: auto;
    padding: 10%;
}
h6 {
    color: rgb(255, 255, 255);
    padding: 10%;
    text-align: center;
}
.footer h4 {
    font-size: 4vw;
    word-break: break-all;
    text-align: center;
    color: white;
    padding-bottom: 4vw;
}


.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}





/* ///////////////////////////////////////// Responsive Design //////////////////////////////////////////////////// */





@media only screen and (max-width: 500px) {
    .menu_link {
        font-size: 20px;
    }   

}

@media only screen and (max-width: 600px) {
    .about-text-container h1, .projects-text, .languages-text, .footer h4, .container-section-5 h1 {
        font-size: 7vw;
    }

    .github-div h3 {
        font-size: 4vw;
    }

    .about-text-container p {
        font-size: 4vw;
    }

}



@media only screen and (min-width: 800px) {
    
    
    .github-div img {
        height: 17vw;
        width: 17vw;
        
    }

    
    /* .about-text-container p {
        font-size: 3vh;
    } */
    .main h1 {
        font-size: 3.4vw;
    }

    
    .section-2-img-container  {
        height: 100%;
        width: 50%;
    }
    .section-2-text-container {
        width: 50%;
    }
    
}


@media only screen and (max-width: 1000px) {
    .thumbnail-container {
        width: 50vw;
        height: 50vw;
    }

    .languages-img {
        height: 15vw;
        width: 15vw;
    }

    .about-text-container h1, .projects-text, .languages-text, .footer h4, .container-section-5 h1 {
        margin: 20px auto;
    }

    
}

@media only screen and (max-width: 600px) {
    .thumbnail-container {
        width: 80vw;
        height: 80vw;
    }

    
    .about, .projects, .container-section-4, .container-section-5, .footer {
        width: 100%;
    }
    
    

    .contact-container {
        display: grid;
    }
}

@media only screen and (min-width: 1000px) {
    
    

    .swe-text {
        font-size: 1.5vw;
    }

    

    .material-icons {
        margin-bottom: 35px;
        padding: 30px;
    }
    
}



@media only screen and (min-width: 1200px) {
    

    .github-div img {
        height: 12vw;
        width: 12vw;
        
    }

    

    .thumbnail-back {
        visibility: visible;
    }
    .thumbnail-card:hover {
        transform: rotateY(180deg);
    }

   
    .material-icons {
        padding-top: 20px;
        padding-bottom: 20px;
    }
   
}


